VITE_AUTH_API_URL=http://localhost:8001
VITE_LESSONS_API_URL=http://localhost:8002
VITE_VOCABULARY_API_URL=http://localhost:8003
VITE_GRAMMAR_API_URL=http://localhost:8004
VITE_EXAM_API_URL=http://localhost:8005
VITE_SPEAKING_API_URL=http://localhost:8006
VITE_WRITING_API_URL=http://localhost:8007
VITE_PROGRESS_API_URL=http://localhost:8008
VITE_TUTOR_API_URL=http://localhost:8009
